Repository vnva/next-vite-monorepo-stub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat(repo): added commitizen
  package-lock.json
  package.json
Due: prettier --write

docs(readme): add commit topic
  README.md
Due: none

feat(turbo): added README generation for packages, and linting for generators
  package-lock.json
  package.json
  turbo/.eslintrc.js
  turbo/generators/config.ts
  turbo/generators/templates/PACKAGE-README.md.hbs
  turbo/package.json
Due: prettier --write, eslint --fix

fix(turbo): add tsconfig
  turbo/generators/config.ts
  turbo/generators/templates/package-ts/tsconfig.json.hbs
  turbo/tsconfig.json
Due: prettier --write, eslint --fix

fix(package-lock.json): add turbo-root-config name
  package-lock.json
Due: prettier --write

fix(dependencies): fixed packages versions
  package-lock.json
  package.json
Due: prettier --write

chore(repo): fix node version
  .npmrc
  apps/admin/Dockerfile
  apps/client/Dockerfile
Due: none

chore(turbo): disable cache
  turbo.json
Due: prettier --write

chore(vs-workspace): add inter finel newline setting
  workspace.code-workspace
Due: none

fix(repo): lint and typecheck scripts execution
  apps/admin/package.json
  apps/client/package.json
  packages/eslint-config-ui-package/.eslintrc.js
  packages/eslint-config-ui-package/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/ui-kit/package.json
  turbo/generators/templates/package-ts/package.json.hbs
  turbo/generators/templates/package-ui/package.json.hbs
  turbo/package.json
Due: prettier --write, eslint --fix

docs(readme): add info about node version
  README.md
Due: none

feat(repo): configurated svg imports
  apps/admin/declarations.d.ts
  apps/admin/package.json
  apps/admin/src/app/index.tsx
  apps/admin/src/vite-env-override.d.ts
  apps/admin/src/vite-env.d.ts
  apps/admin/tsconfig.json
  apps/admin/vite.config.ts
  apps/client/next.config.js
  apps/client/package.json
  apps/client/src/pages/index.tsx
  package-lock.json
  package.json
  packages/assets/README.md
  packages/assets/images/house.svg
  packages/assets/package.json
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/ui-package.json
  packages/ui-kit/package.json
  packages/ui-kit/src/assets/house.svg
  packages/ui-kit/src/assets/index.ts
  packages/ui-kit/src/components/button/index.tsx
  packages/ui-kit/tsconfig.json
  turbo/generators/templates/package-ts/package.json.hbs
  turbo/generators/templates/package-ts/tsconfig.json.hbs
  turbo/generators/templates/package-ui/declarations.d.ts.hbs
  turbo/generators/templates/package-ui/package.json.hbs
  turbo/generators/templates/package-ui/tsconfig.json.hbs
  workspace.code-workspace
Due: prettier --write, eslint --fix

feat(repo): images usage example
  apps/admin/src/app/index.tsx
  apps/client/package.json
  apps/client/src/pages/index.tsx
  package-lock.json
  packages/assets/images/github.png
  packages/ui-kit/src/components/button/index.tsx
  workspace.code-workspace
Due: prettier --write, eslint --fix

ci(turbo): removed lint and typecheck before build
  apps/admin/package.json
  turbo.json
Due: prettier --write

docs(readme): add assets docs link
  README.md
Due: none

docs(readme): added tip for alias
  README.md
Due: none

feat(repo): typography configurated
  .env
  apps/admin/index.html
  apps/admin/public/assets/fonts/montserrat-bold.woff
  apps/admin/public/assets/fonts/montserrat-bold.woff2
  apps/admin/public/assets/fonts/montserrat-medium.woff
  apps/admin/public/assets/fonts/montserrat-medium.woff2
  apps/admin/public/assets/fonts/montserrat-regular.woff
  apps/admin/public/assets/fonts/montserrat-regular.woff2
  apps/admin/public/assets/fonts/montserrat-semi-bold.woff
  apps/admin/public/assets/fonts/montserrat-semi-bold.woff2
  apps/admin/src/app/styles/_fonts.scss
  apps/admin/src/app/styles/index.scss
  apps/client/src/core/assets/fonts/montserrat-bold.woff
  apps/client/src/core/assets/fonts/montserrat-bold.woff2
  apps/client/src/core/assets/fonts/montserrat-medium.woff
  apps/client/src/core/assets/fonts/montserrat-medium.woff2
  apps/client/src/core/assets/fonts/montserrat-regular.woff
  apps/client/src/core/assets/fonts/montserrat-regular.woff2
  apps/client/src/core/assets/fonts/montserrat-semi-bold.woff
  apps/client/src/core/assets/fonts/montserrat-semi-bold.woff2
  apps/client/src/core/styles/index.scss
  apps/client/src/pages/_app.tsx
  packages/ui-kit/src/components/button/styles.module.scss
  packages/ui-kit/src/styles/_colors.scss
  packages/ui-kit/src/styles/_typography.scss
  packages/ui-kit/src/styles/index.scss
Due: prettier --write, eslint --fix, stylelint --fix

chore(repo): workspaces to .vscode
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  workspace.code-workspace
Due: prettier --write

docs(readme): added installing dependencies topic
  README.md
Due: none

docs(packages/ui-kit/readme): added topic about fonts
  packages/ui-kit/README.md
Due: none

refactor(turbo): remove unused envs
  turbo.json
Due: prettier --write

fix(@packages/eslint-config): css-import-order-plugin conflicts with import-plugin
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,scss,css,json,d.ts}
  eslint --fix: any of: *.{ts,tsx,js,jsx,d.ts}
  stylelint --fix: any of: *.{scss,css}
